*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    margin: 30px;
    display: grid;
    /* grid-template-columns:300px 1fr 300px; */
     grid-template-columns:repeat(auto-fill, minmax(500px, 1fr));
    column-gap: 20px;
    row-gap: 30px;

    /* justify-content: stretch;
    align-items: baseline; */

}

.common{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-style:"Times New Roman";
}

.one{
    background-color: pink;
}

.two{
    background-color: green;
}

.three{
    background-color:yellow;
}

.four{
    background-color: rebeccapurple;
}

.five{
    background-color: maroon;
}

.six{
    background: palegreen;
}